// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #494152;

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-clocktwo {

  background-color: $background-color;

  .box {
    background-color:rgba(255, 255, 255, 0.281);
    overflow: hidden;
    margin-bottom: 15px;
  }

  h2 {
    font-size: 3em;
  }

  span {
    font-size: 1.5em;
  }
}
